In [1]:
print("Hello World")

Hello World

In [2]:
#shift + Enter to execute the notebook

# Data Types

## Number

In [1]:
print (2+7)

9

## Variables

In [2]:
a= 10

In [3]:
a

10

In [4]:
type(a)

int

In [5]:
b="Shubham"

In [6]:
type(b)

str

In [7]:
c= 10.5

In [8]:
type(c)

float

In [9]:
d= input ("Enter a number")

Enter a number22

In [10]:
d

'22'

In [1]:
# Everything we pass to "input" is treated as a string

In [2]:
name= input("Enter your name ")
print("Welcome " +name+ " to the Full Stack Data Science Course")

Enter your name shubham
Welcome shubham to the Full Stack Data Science Course

## String

In [16]:
s= "Hello World"

In [17]:
type(s)

str

In [6]:
print("use \n to print a new line")

use
 to print a new line

In [ ]:
dataType           Declare                     Access                  Methods
********           ********                    *****                  ********
string              ' ', " "                 [0] indexes

In [15]:
 s[1:6]

'ello '

In [18]:
s[2]

'l'

In [21]:
#frm starting index starts from 0, from end index starts from -1.
# single colon is a substring and double colon is a skip a sequence of elements

In [20]:
s[-1]

'd'

In [22]:
s[::]

'Hello World'

In [24]:
s[::1]

'Hello World'

In [25]:
s[::2]

'HloWrd'

In [26]:
s[::3]

'HlWl'

In [27]:
s[::-1]

'dlroW olleH'

In [30]:
s.upper()

'HELLO WORLD'

In [2]:
name= input("Enter your name: ")
age = input("Enter your age: ")
print("Your name is {} and your age is {}".format(name, age))

Enter your name: Shubham
Enter your age: 25
Your name is Shubham and your age is 25

In [3]:
name= input("Enter your name: ")
age = input("Enter your age: ")
print("Your name is {n} and your age is {a}".format(n=name, a=age))

Enter your name: shuBhaM
Enter your age: 26
Your name is shuBhaM and your age is 26

In [5]:
name= input("Enter your name: ")
age = input("Enter your age: ")
print("Your name is {n} and your age is {a}".format(a=age, n=name)) 
#order doesn't matter after giving the placeholder

Enter your name: shubham kushwaha
Enter your age: 25
Your name is shubham kushwaha and your age is 25

In [5]:
#strings are immutables.
s= "I'm a string"
s[0]

'I'

In [6]:
s[0] = 'p'

TypeError: 'str' object does not support item assignment

## Lists

In [ ]:
#lists are collection of heterogeneous data. They are mutables.
dataType           Declare                     Access                  Methods
********           ********                    *****                  ********
string              ' ', " "                 [0] indexes  

List                  []                     [0] indexes

In [8]:
num = []

In [9]:
type(num)

list

In [4]:
num1 = [1,2,3,4,5, "Raju", "Ramesh"]

In [12]:
type(num1)

list

In [13]:
num1[0] = "Rajesh"

In [5]:
num1

[1, 2, 3, 4, 5, 'Raju', 'Ramesh']

In [17]:
num1[:: -1] #reversal of list

['Ramesh', 'Raju', 5, 4, 3, 2, 'Rajesh']

In [18]:
num1[:-1]

['Rajesh', 2, 3, 4, 5, 'Raju']

In [19]:
#press tab to see it's predefined methods and shift+tab to see it's signature

In [6]:
num1.append("Shubham")

In [7]:
num1

[1, 2, 3, 4, 5, 'Raju', 'Ramesh', 'Shubham']

In [37]:
num1.remove('Shubham')

In [38]:
num1

['Rajesh', 2, 3, 4, 5, 'Raju', 'Ramesh']

In [39]:
num1.reverse()

In [40]:
num1

['Ramesh', 'Raju', 5, 4, 3, 2, 'Rajesh']

### Nested lists

In [9]:
std1 = ['Shubham', 24, 45]
std2 = ['Saumya', 34, 54]
std3 = ['Prakhar', 34, 43]

In [10]:
list_of_std = [ std1, std2, std3 ]

In [11]:
type(list_of_std)

list

In [12]:
list_of_std[1][1]

34

In [13]:
list_of_std[1][0]

'Saumya'

In [15]:
num = [1,2,3,4]

### Loops in list

In [17]:
for x in num:
    print("Hello")
print("How are you")

Hello
Hello
Hello
Hello
How are you

In [21]:
res = []

for x in num:
    res.append(x*10)
    print(res)
print("I'm outside for loop")

[10]
[10, 20]
[10, 20, 30]
[10, 20, 30, 40]
I'm outside for loop

In [22]:
list_of_std

[['Shubham', 24, 45], ['Saumya', 34, 54], ['Prakhar', 34, 43]]

In [23]:
# take age and marks from a nested list

In [30]:
age= []
marks = []

for std in list_of_std:
    age.append(std[1])
    marks.append(std[2])

print("average age of student is {} and marks is {}".format(sum(age)/len(age), sum(marks)/len(marks)))
print(age)
print(marks)

average age of student is 30.666666666666668 and marks is 47.333333333333336
[24, 34, 34]
[45, 54, 43]